#indexMain {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav ul {
  margin-bottom: 20px;
  padding: 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: large;
}

nav button {
  font-size: large;
  font-weight: 700;
  font-family: "Cutive Mono", monospace;
  background-color: #223c47;
  border: none;
  color: white;
}

nav button:hover,
nav button:focus {
  background-color: #0881b5;
  border-radius: 10%;
}

.profile-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container {
  width: 400px;
  height: 400px;
  object-fit: contain;
  border-radius: 50%;
  border: 3px solid #F9B64C;
}
.profile-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.head-top h2 {
  font-size: xx-large;
  font-weight: 700;
  margin-top: 40px;
}

#userBio {
  height: 100%;
  max-width: 700px;
  font-size: large;
  font-weight: 700;
}

#userActual {
  margin: 1rem 0 0;
}

#userHandle {
}

.head-top a {
  margin-top: 20px;
  text-decoration: none;
  color: white;
  font-size: xx-large;
  font-weight: 700;
}

.head-top a:hover,
.head-top a:focus {
  background-color: #0881b5;
  border-radius: 10%;
}

.joined-date {
  font-weight: 700;
  font-size: x-large;
  padding: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#dateJoined {
  margin: 0;
}

.joined-date img {
  width: 18px;
  height: 20px;
}

.profile-stats {
  display: flex;
  width: 100%;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto 15px auto 15px;
  padding: auto;
  width: 150px;
  min-width: 100px;
  background-color: #0881b5;
  border-radius: 5%;
}

.stats-integer {
  font-weight: 700;
  font-size: x-large;
  margin-bottom: 5px;
  padding: 0;
}
